@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300;400;500;600;700&family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";
.font-out {
  font-family: "Outfit", sans-serif;
}

.font-momo {
  font-family: "Momo Trust Display", sans-serif;
}

.font-hind {
  font-family: "Hind", sans-serif;
}

.font-lexend {
  font-family: "Lexend Deca", sans-serif;
}
.font-ark {
  font-family: "Archivo Black", sans-serif;
}

/* html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

/* Hide scrollbar but keep scrolling functionality */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* toast custom style............... */

.Toastify__toast {
  background: #020617 !important;
  color: #f8fafc !important;
  border-radius: 14px !important;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.Toastify__toast--success {
  border-left: 5px solid #22c55e;
}

.Toastify__toast-body {
  font-size: 14px;
  font-weight: 500;
}

.Toastify__progress-bar {
  background: linear-gradient(90deg, #22c55e, #4ade80);
}
